html,
body {
    height: 100%;
    margin: 0;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 8px;
    border-top: 1px solid var(--sapList_BorderColor);
}

.fd-button {
    margin-left: 8px;
}

